{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'website.css' %}">
    <title>Document</title>
</head>
<body>
    <div id="login1">
    <form method="post" action="register">
        {% csrf_token %}
        <input class="input" type="text" name="username" placeholder="Username">
        <input class="input" type="password" name="password1" placeholder="Password">
        <input class="input" type="password" name="password2" placeholder="Verify Password">
        <input id="loginbutton" type="submit" value="Submit">

    </form>
    </div>
</body>
</html>